<h1>Edit page</h1>
<% form_for @page, :url => admin_page_path(@page) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>
<% content_for :additional_navigation do %>
<ul class="buttons">
  <li><%= link_to h(@page.title), edit_admin_page_path(@page), :class => 'selected' %></li>
  <%= page_parts_links @page %>
  <li><%= link_to "Add page part", new_admin_page_page_part_path(@page) %></li>
</ul>
<% end %>
