<h1>Pages (<%= link_to t(:collapse_tree), collapse_admin_pages_path %>)</h1>
<% if @pages.empty? %>
  <% content_for :additional_navigation do %>
    <ul class="buttons">
      <li><%= link_to 'New page', new_admin_page_path %></li>
    </ul>
  <% end %>
<% else %>
  <%= recursive_tree_output @pages, :class => "pages_tree", :id => "pages_tree", :partial => 'page' %>
<% end %>
