<h1>New page</h1>
<% form_for @page, :url => admin_pages_path do |f| %>
  <%= hidden_field :page, :parent_id, :value => @parent_id %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>
