.CodeMirror-line-numbers
{
    font-size: 10pt;
    background: #eee;
    line-height: 17px;
    padding: 5px;
    font-family: monospace;
}

.logo
{
    position: absolute;
    top: 20px;
    left: 60px;
}

.logo a
{
    text-decoration: none;
    font-size: 46pt;
}

h1
{
    font-size: 24pt;
    margin: 20px 0 10px 0;
    position: relative;
}

h2
{
    font-size: 16pt;
    margin: 15px 0 10px 0;
}

label
{
    display: block;
    padding: 15px 0 5px 0;
}

.buttons input
{
    width: auto;
    margin: 15px 10px 15px 0;
    font-size: 14pt;
}

textarea
{
    width: 100%;
    height: 300px;
    border: 1px solid #aaa;
}

.calendar input
{
    width: 350px;
}

.checkbox
{
    margin-top: 15px;
}

.checkbox label
{
    display: inline;
}

.logout
{
    position: absolute;
    right: 90px;
    bottom: 15px;
    font-size: 10pt;
}

.logout a
{
    color: #fff;
}

input
{
    width: 100%;
    font-size: 14pt;
    border: 1px solid #aaa;
}

select
{
    font-size: 14pt;
    border: 1px solid #aaa;
}

.errorExplanation
{
    background: #ff9999;
    border: 2px solid red;
    margin: 20px 0;
    padding: 10px;
    line-height: 130%;
    border: 1px solid #ccc;
    font-size: 14pt;
}

.errorExplanation li
{
    list-style: decimal;
    list-style-position: inside;
}

.fieldWithErrors input
{
    border: 1px solid #ff9999;
}

.fieldWithErrors label
{
    color: #ff3333;
}

.header
{
    height: 100px;
    background: #777;
    color: #fff;
    position: relative;
}

.links
{
    position: absolute;
    top: 20px;
    right: 80px;
}

.links a
{
    color: #fff;
    padding: 5px 10px;
}

.links a.selected
{
    
    background: #aaa;
    text-decoration: none;
}

.body
{
    margin: 0 80px 0 60px;
}

.notice
{
    border: 1px solid #ccc;
    background: #99ff99;
    text-align: center;
    margin: 20px 0;
    padding: 20px 0;
    font-size: 14pt;
}

.list_table
{
    width: 100%;
    margin: 15px 0;
    line-height: 140%;
    margin-left: -10px;
}

.list_table th.actions
{
    padding-left: 30px;
    position: static;
}

.list_table td.actions
{
    position: static;
    white-space: nowrap;
    width: 100px;
}

.list_table td.actions a
{
    line-height: 140%;
}

.list_table th
{
    font-weight: bold;
    text-align: left;
}

.list_table td, .list_table th
{
    padding: 6px 10px;
}

.list_table tbody tr:hover
{
    background: #E0EEEF;
}

.show_entry
{
   margin-bottom: 30px;
}

.show_entry li
{
    margin-bottom: 10px;
    line-height: 140%;
}

.new_entry
{
    background: 20px center url(/images/admin/new_entry.png) no-repeat;
}

.view_entry
{
    background: 20px center url(/images/admin/view_entry.png) no-repeat;
}

.edit_entry
{
    background: 20px center url(/images/admin/edit_entry.png) no-repeat;
}

.remove_entry
{
    background: 20px center url(/images/admin/remove_entry.png) no-repeat;
}

.pages_tree
{
    margin: 20px 0 20px -10px;
}

.pages_tree li
{
    list-style: none;
    line-height: 35px;
}

.pages_tree li .info
{
    padding-left: 10px;
    position: relative;
}

.pages_tree li .info:hover
{
    background: #E0EEEF;
}

.actions
{
    position: absolute;
    right: 10px;
    top: 0px;
}

.actions a, .actions span, .add_entry a
{
    font-size: 10pt;
    line-height: 35px;
    padding: 3px 0 3px 40px;
    text-decoration: none;
}

.add_entry a
{
    background: 0 center url(/images/admin/new_entry.png) no-repeat;
    padding-left: 20px;
}

.pages_tree ul
{
    padding-left: 25px;
}

.editor_border
{
    width: 100%;
    border: 1px solid #aaa;
}

.parts
{
    margin-top: -1px;
}

.parts_tabs
{
    margin: 0 0 0 28px;
    height: 28px;
    width: 5000px;
}

.parts_tabs li
{
    position: relative;
    padding: 0 36px 0 10px;
    float: left;
    border: 1px solid #eee;
    border-bottom: 0;
    height: 27px;
    line-height: 27px;
    background: #fff;
}

.parts_tabs li input {
    font-size: 12pt;
    width: 100px;
}

.parts_tabs li.selected
{
    border: 1px solid #aaa;
    border-bottom: 0;
    height: 28px;
    line-height: 28px;
}

.parts_tabs_wrap
{
    width: 100%;
    overflow: hidden;
    margin-top: 15px;
    z-index: 100;
}

.parts_tabs li .part_remove, .parts_tabs li .part_commit_name
{
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    top: 6px;
    right: 10px;
    background: url(/images/admin/part_remove.png) no-repeat;
    cursor: pointer;
}

.parts_tabs li .part_commit_name
{
    background: url(/images/admin/part_commit_name.png) no-repeat;
}

.parts_tabs li.selected .part_remove, .parts_tabs li.selected .part_commit_name
{
    top: 7px;
}

.part_add
{
    float: left;
    margin: 7px 0 0 6px;
}