<h1>Edit <%= controller.model_name.humanize.downcase %></h1>
<% form_for @record, :url => [:admin, @record], :html => {:multipart => true} do |f| %>
  <%= hidden_field_tag :edit_locale, params[:edit_locale] if params[:edit_locale] %>

  <%= render :partial => 'admin_views/form', :locals => { :f => f } %>
<% end %>