<h1>Admins</h1>
<ul class="pages_tree">
<% @admins.each do |admin| %>
  <li>
    <div class="info">
      <%= link_to admin.login, edit_admin_admin_url(admin) %>
      <div class="actions">
        <%= link_to 'destroy', admin_admin_url(admin), :method => :delete, :confirm => 'Are you sure?', :class => 'remove_entry' %>
      </div>
    </div>
  </li>
<% end %>
</ul>

<% content_for :additional_navigation do %>
  <%= link_to 'New admin', new_admin_admin_url %>
<% end %>
