<h1>Snippets</h1>
<ul class="pages_tree">
<% @snippets.each do |snippet| %>
  <li>
    <div class="info">
      <%= link_to snippet.name, edit_admin_snippet_url(snippet) %>
      <div class="actions">
        <%= link_to 'destroy', admin_snippet_url(snippet), :method => :delete, :confirm => 'Are you sure?', :class => 'remove_entry' %>
      </div>
    </div>
  </li>
<% end %>
</ul>

<% content_for :additional_navigation do %>
  <%= link_to 'New snippet', new_admin_snippet_url %>
<% end %>
