<h1>Users</h1>
<ul class="pages_tree">
<% @users.each do |user| %>
  <li>
    <div class="info">
      <%= link_to user.login, edit_admin_user_url(user) %>
      <div class="actions">
        <%= link_to 'destroy', admin_user_url(user), :method => :delete, :confirm => 'Are u shure?', :class => 'remove_entry' %>
      </div>
    </div>
  </li>
<% end %>
</ul>
<div class="add_entry">
  <%= link_to 'new user', new_admin_user_url, :class => 'new_entry' %>
</div>